body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
.header {
    display: flex;
    align-items: center;
    width: px;
    justify-content: space-around;
}
.board {
    width: 500px;
    height: 500px;
    display: grid;
    border: 1px solid black;
    margin-bottom: 50px;
  }
  