body {
    display: flex;
    background-color: aqua;
}

#div_container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.grid-row {
    display: flex;
    align-items: center;
}

.grid-cell {
    border: 1px solid black;
    min-width: 40px;
    min-height: 40px;
    display: inline-block;
}
